html {
  background-image: url(images/landscapeHD.png);
  background-size: contain;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 90%;
}

body > * {
  font-size: 1.5rem;
}

.title {
  position: absolute;
  top: 5%;
  left: 32.5%;
  height: 9.4%;
}

.welcome-screen {
  font-family: "Permanent Marker", cursive;
  display: grid;
  grid-template-rows: 50% 50%;
  height: 24%;
  width: 40rem;
  position: absolute;
  top: 38%;
  left: 35%;
  border: 1px solid red;
  background-color: yellow;
  color: red;
  text-align: center;
  padding-top: 2%;
}

.rules,
.continue {
  font-family: "Permanent Marker", cursive;
  background: yellow;
  color: red;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid red;
  position: absolute;
  top: 66%;
  left: 37.6%;
  width: 25%;
  border-radius: 78px 78px;
}

#continue {
  top: 73%;
  text-decoration: none;
}

.modal-body {
  font-family: "Permanent Marker", cursive;
  background: yellow;
  color: red;
  border: 1px solid red;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 640px) {
  html {
    background-image: url(images/landscapeVertical.png);
  }
  .title,
  .welcome-screen,
  .rules,
  .continue,
  .modal-body {
    transform: rotate(0.25turn);
  }
  .title {
    top: 46%;
    left: 56.5%;
    height: 5.4%;
  }
  .welcome-screen {
    top: 39%;
    left: 6%;
    font-size: 1.5rem;
  }
  .rules,
  .continue {
    font-size: 1.5rem;
    width: 20rem;
    top: 50%;
    left: 2%;
  }
  #continue {
    top: 50%;
    left: -8%;
  }
  .modal.in, .modal-dialog {
    transform: translate(-8rem,0);
  }
  .modal-body {
    font-size: 1rem;
    border: 1px solid red;
    position: absolute;
    padding: 15px;
    top: 20rem;
    left: 10rem;
  }
}
